<div class="card">
  <div class="card-body">
    <h5 class="card-title">Product list</h5>
    <table class="table">
      <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">name</th>
        <th scope="col">quantity</th>
        <th scope="col">description</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let product of products">
        <th scope="row">{{product.id}}</th>
        <td>{{product.name}}</td>
        <td>{{product.quantity}}</td>
        <td>{{product.description}}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
