<div class="card">
  <div class="card-body">
    <h5 class="card-title">Product Search</h5>
    <div class="row">
      <div class="col-md-3">
        <div class="form-group">
          <label for="name">Name</label>
          <input class="form-control" type="text" id="name"/>
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-group">
          <label for="quantity">Quantity</label>
          <input class="form-control" type="number" id="quantity"/>
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-group">
          <label for="description">Description</label>
          <input class="form-control" type="text" id="description"/>
        </div>
      </div>
    </div>
  </div>
</div>
